.row.nested-fields
  .col-xs-1
    = link_to_remove_association "", f, class: 'glyphicon glyphicon-remove'
  .col-xs-11
    .form-group
      = f.input :name, placeholder: 'Name', label: false, input_html: { class: 'form-control' }
    .form-group
      = f.input :description, placeholder: 'Description', label: false, input_html: { class: 'form-control' }
