%h1 New list

= simple_form_for list, html: { class: 'form' } do |f|
  .form-group
    = f.input :name, placeholder: 'Name', label: false, input_html: { class: 'form-control' }
  .form-group
    = f.input :gifts_list, as: :text, placeholder: 'Gifts (separated by new lines)', label: false, input_html: { class: 'form-control', rows: 10 }
  = f.submit 'Create', class: 'btn btn-primary'