%h1 
  #{list.name}
%br

= render 'list_link'

%table.table.table-hover
  %tr
    %th Name
    %th Description
    %th Where to buy?
    %th Actions
    %th

  = render partial: "gift", collection: gifts

=link_to "Edit Your List", edit_list_path(list), :class => "btn btn-primary btn-lg"
      
