= simple_form_for gift, html: { class: 'form' } do |f|

  = f.input :name, placeholder: 'Name', label: false, input_html: { class: 'form-control' }
  = f.input :description, placeholder: 'Description', label: false, input_html: { class: 'form-control' }
  =f.submit 'Save', class: 'btn btn-primary'