%nav.navbar.navbar-default.navbar-fixed-top{:role => "nav   igation"}
  .container-fluid
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Home', root_path, class: 'navbar-brand navbar-left' 
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        -if user_signed_in?
          %li
            = link_to "Your lists", lists_path         
      %ul.nav.navbar-nav.navbar-right
        = render 'layouts/navigation_links'


